<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Aplikasi Prediksi Harga Indekos</title>
    </head>
    <body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                Masukkan Preferensi Kos Anda:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col"
            >
                <label for="Jenis_Kos" class="mb-2">Jenis_Kos</label>
                <select id="underline_select" name="Jenis_Kos" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe indekos</option>
                    <option value="0">Campur</option>
                    <option value="1">Putra</option>
                    <option value="2">Putri</option>
                </select>
                <label for="Kota" class="mb-2">Kota</label>
                <select id="dpdlCountry" name="Kota" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih Kota</option>
                    <option value="0">Bantul</option>
                    <option value="1">Gunungkidul</option>
                    <option value="2">Kota Jogja</option>
                    <option value="3">Kulonprogo</option>
                    <option value="4">Sleman</option>
                </select>
                <label for="Kecamatan" class="mb-2">Kecamatan</label>
                <select id="dpdlState" name="Kecamatan" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih Kecamatan</option>
                  </select>
                <label for="Kmandi" class="mb-2">Kamar Mandi</label>
                <select id="underline_select" name="Kmandi" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe kamar mandi</option>
                    <option value="0">Kamar Mandi Dalam</option>
                    <option value="1">Kamar Mandi Luar</option>
                </select>
                <label for="WIFI" class="mb-2">WIFI</label>
                <select id="underline_select" name="WIFI" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe wifi</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>
                <label for="AC" class="mb-2">AC</label>
                <select id="underline_select" name="AC" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe AC</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>
                <label for="Kloset" class="mb-2">Kloset</label>
                <select id="underline_select" name="Kloset" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe Kloset</option>
                    <option value="0">Duduk</option>
                    <option value="1">Jongkok</option>
                </select>
                <label for="Kasur" class="mb-2">Kasur</label>
                <select id="underline_select" name="Kasur" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe Kasur</option>
                    <option value="0">Tidak Termasuk</option>
                    <option value="1">Termasuk</option>
                </select>
                <label for="Akses24" class="mb-2">Akses24</label>
                <select id="underline_select" name="Akses24" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe Akses</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>
                <label for="Luas" class="mb-2">Luas</label>
                <input
                    type="float"
                    name="Luas"
                    placeholder=""
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="Listrik" class="mb-2">Listrik</label>
                <select id="underline_select" name="Listrik" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe Listrik</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>

                <label for="Dapur" class="mb-2">Dapur</label>
                <select id="underline_select" name="Dapur" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe Dapur</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>

                <label for="CCTV" class="mb-2">CCTV</label>
                <select id="underline_select" name="CCTV" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe CCTV</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>

                <label for="Kulkas" class="mb-2">Kulkas</label>
                <select id="underline_select" name="Kulkas" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe Kulkas</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>

                <label for="Lemari" class="mb-2">Lemari</label>
                <select id="underline_select" name="Lemari" required="required" class="p-4 bg-gray-100 rounded-md">
                    <option selected>Pilih tipe Lemari</option>
                    <option value="0">Tidak</option>
                    <option value="1">Ya</option>
                </select>

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    PROSES ESTIMASI SEKARANG
                    <svg
                        xlmns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
            <div class="bg-white p-16 rounded-lg">
                <h1 class="text-3xl mb-8">
                    <b>Prediksi Harga Indekos dengan metode Random Forest Classifier:</b>
                </h1>
                <h2 class="text-5xl font-bold">Harga Prediksi Rp. {{ Harga }}             
                </h2>
                <div class="mt-8">
                
                </div>
                {% if ( Harga ) != 0 %}
                <div class="mt-8">
                    <b>Detail Spesifikasi Kos Anda:</b>
                    <p><b>Jenis_Kos:</b> {{ Jenis_Kos }} </p>
                    <p><b>Kecamatan:</b> {{ Kecamatan }} </p>
                    <p><b>Kota:</b> {{ Kota }} </p>
                    <p><b>Kmandi:</b> {{ Kmandi }} </p>
                    <p><b>WIFI:</b> {{ WIFI }} </p>
                    <p><b>AC:</b> {{ AC }} </p>
                    <p><b>Kloset:</b> {{ Kloset }} </p>
                    <p><b>Kasur:</b> {{ Kasur }} </p>
                    <p><b>Akses24:</b> {{ Akses24 }} </p>
                    <p><b>Luas:</b> {{ Luas }} </p>
                    <p><b>Listrik:</b> {{ Listrik }} </p>
                    <p><b>Dapur:</b> {{ Dapur }} </p>
                    <p><b>CCTV:</b> {{ CCTV }} </p>
                    <p><b>Kulkas:</b> {{ Kulkas }} </p>
                    <p><b>Lemari:</b> {{ Lemari }} </p>

                </div>
                {% endif %}
            </div>
        </section>
        <script>

            var stateList = [
              { Country: '0', State: 'Banguntapan', value: '0' },
              { Country: '0', State: 'Bantul' },
              { Country: '0', State: 'Kasihan' },
              { Country: '0', State: 'Sewon' },
              { Country: '1', State: 'Wonosari' },
              { Country: '2', State: 'Danurejan' },
              { Country: '2', State: 'Gedong Tengen' },
              { Country: '2', State: 'Gondokusuman' },
              { Country: '2', State: 'Gondomanan' },
              { Country: '2', State: 'Jetis' },
              { Country: '2', State: 'Kotagede' },
              { Country: '2', State: 'Kraton' },
              { Country: '2', State: 'Mantrijeron' },
              { Country: '2', State: 'Mergangsan' },
              { Country: '2', State: 'Pakualaman' },
              { Country: '2', State: 'Tegalrejo' },
              { Country: '3', State: 'Pengasih' },
              { Country: '3', State: 'Temon' },
              { Country: '3', State: 'Wates' },
              { Country: '4', State: 'Berbah' },
              { Country: '4', State: 'Depok' },
              { Country: '4', State: 'Gamping' },
              { Country: '4', State: 'Godean' },
              { Country: '4', State: 'Kalasan' },
              { Country: '4', State: 'Mlati' },
              { Country: '4', State: 'Ngaglik' },
              { Country: '4', State: 'Ngemplak' },
              { Country: '4', State: 'Pakem' },
              { Country: '4', State: 'Sleman' }
            ];
            $(document).ready(function () {
              debugger;
              $(".divOtherCountry").hide();
              $(".divOtherState").hide();
              $(".divOtherCity").hide();
              $("#dpdlCountry").change(function () {
                debugger;
                if ($("#dpdlCountry").val() == "Other") {
                  $(".divOtherCountry").show();
                  const option = "<option val='Other'>Other</option>";
                  $("#dpdlState").append(option);
                } else {
                  $(".divOtherCountry").hide();
                  $(".divOtherState").hide();
                  $(".divOtherCity").hide();
                  $("#dpdlState").html("<option selected>Choose State</option>");
                  $("#dpdlCity").html("<option selected>Choose City</option>");
                  const states = stateList.filter(m => m.Country == $("#dpdlCountry").val() || m.Country == "Other");
                  states.forEach(element => {
                    const option = "<option val='" + element.State + "'>" + element.State + "</option>";
                    $("#dpdlState").append(option);
                  });
                }
              });
        
              $("#dpdlState").change(function () {
                debugger;
                if ($("#dpdlState").val() == "Other") {
                  $(".divOtherState").show();
                  const option = "<option val='Other'>Other</option>";
                  $("#dpdlCity").append(option);
                } else {
                  $(".divOtherState").hide();
                  $(".divOtherCity").hide();
                  $("#dpdlCity").html("<option selected>Choose City</option>");
                  debugger;
                  const states = cityList.filter(m => m.State == $("#dpdlState").val() || m.State == "Other");
                  states.forEach(element => {
                    const option = "<option val='" + element.city + "'>" + element.city + "</option>";
                    $("#dpdlCity").append(option);
                  });
                }
              });
            });
          </script>
    </body>
</html>
